html, body {
    height: 100%;
    /*font-family: "Normal", Arial, sans-serif;*/
}
body {
    background-color: #1fab85;
}
a.logout {
    color: white;
}
.container {
    max-width: 100%;
}
.bg-white {
    background-color: white;
}
.bg-grey {
    background-color: #f2f7f8;
}
.no-margin {
    margin: 0;
}
.small-indent {
    margin-left: 20px;
}
.border-bottom {
    border-bottom: solid 2px #ecf0f1;
}
.text-grey {
    color: #b4bcc2;
}
.charte-container {
    padding-left: 5%;
    padding-right: 5%;
}
.charte-container h3 {
    font-size: 20px;
    margin-top: 40px;
}
/* ---------------------------------------------------------------------------------------------------------------------
                FORM
--------------------------------------------------------------------------------------------------------------------- */
div.chosen-container.chosen-container-single {
    width: 100% !important;
}
.chosen-container-single .chosen-single {
    background: none;
    height: 45px;
    font-size: 15px;
    padding: 10px 15px;
    border: 2px solid #dce4ec;
    border-radius: 4px;
    box-shadow: none;
    line-height: 1.42857143;
}
/* ---------------------------------------------------------------------------------------------------------------------
                BUTTON
--------------------------------------------------------------------------------------------------------------------- */
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-primary.btn-outline {
    color: #1a242f;
}
.btn-success.btn-outline {
    color: #18bc9c;
}
.btn-info.btn-outline {
    color: #3498db;
}
.btn-warning.btn-outline {
    color: #f39c12;
}
.btn-danger.btn-outline {
    color: #e74c3c;
}
.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* ---------------------------------------------------------------------------------------------------------------------
                ASIDE NAVIGATION
--------------------------------------------------------------------------------------------------------------------- */
nav.aside-navbar {
    width: 220px;
    height: 100%;
    background-color: #1fab85;
    position: absolute;
}
nav.aside-navbar .profile {
    padding: 15px;
    background-color: #20a37c;
}
nav.aside-navbar .profile img {
    background-color: #ecf0f1;
    width: 50px;
    height: 50px;
}
nav.aside-navbar .profile p {
    /*font-family: "Light", Arial, sans-serif;*/
    margin-top: 5px;
    color: white;
}
nav.aside-navbar .items ul {
    list-style: none;
    padding: 0;
}
nav.aside-navbar .items ul li {
    height: 50px;
    font-size: 15px;
    /*cursor: pointer;*/
    text-transform: uppercase;
}
nav.aside-navbar .items ul li a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 15px;
    padding-left: 20px;
    color: #caf7e8;
    transition: ease .1s;
}
nav.aside-navbar .items ul li a i {
    margin-right: 6px;
}
nav.aside-navbar .items ul li.active {
    background-color: #1b9172;
}
nav.aside-navbar .items ul li.active a {
    color: white;
}
nav.aside-navbar .items ul li:hover a {
    color: white;
    text-decoration: none;
}
/* ---------------------------------------------------------------------------------------------------------------------
                PAGE WRAPPER
--------------------------------------------------------------------------------------------------------------------- */
.page-wrapper {
    padding-top: 5px;
    padding-bottom: 55px;
    position: relative;
    margin-left: 220px; /*On laisse de la place pour la barre de navigation*/
    background-color: #f2f7f8;
    min-height: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 15px;
    padding: 15px;
    background-color: white;
    width: 100%;
}
/* ---------------------------------------------------------------------------------------------------------------------
                ROWBOX
--------------------------------------------------------------------------------------------------------------------- */
.rowbox {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: white;
}
/* ---------------------------------------------------------------------------------------------------------------------
                ALERT
--------------------------------------------------------------------------------------------------------------------- */
.subscription-alert, .blogpost-alert {
    display: table;
    width: 100%;
    padding: 15px;
    padding-bottom: 5px;
    margin-bottom: 21px;
    border: 3px solid transparent;
    border-radius: 4px;
    text-align: center;
}
.subscription-alert div, .blogpost-alert div {
    display: table-cell;
    vertical-align: middle;
}
.subscription-alert a.btn, .blogpost-alert a.btn {
    padding: 3px 12px;
}
.subscription-alert p.book {
    /*font-family: "American Typewriter", Arial, Serif, sans-serif;*/
    margin-top: 1px;
    font-size: 15px;
}
.alert-article {
    border-color: #1fab85;
}
.alert-article a.btn {
    color: #ffffff;
    background-color: #1fab85;
    border-color: #1fab85;
}
.alert-like {
    border-color: #c7254e;
}
.alert-like a.btn {
    color: #ffffff;
    background-color: #c7254e;
    border-color: #c7254e;
}
.alert-subscriber {
    border-color: #e28415;
}
.alert-subscriber a.btn {
    color: #ffffff;
    background-color: #e28415;
    border-color: #e28415;
}
.alert-comment {
    border-color: #2b80c9;
}
.alert-comment a.btn {
    color: #ffffff;
    background-color: #2b80c9;
    border-color: #2b80c9;
}
.blogpost-alert {
    border-color: #313f5c;
}
.blogpost-alert p {
    text-align: left;
    font-size: 13px;
}
.blogpost-alert p.text-center {
    text-align: center;
}
/* ---------------------------------------------------------------------------------------------------------------------
                EDITEUR
--------------------------------------------------------------------------------------------------------------------- */
.editeur-toolbar {
    margin-bottom: 10px;
}
.editeur-footbar {
    margin-top: 10px;
}
.editable {
    height: auto;
}
.editable[contentEditable=true]:empty:not(:focus):before{
    color: rgba(40, 40, 40, 0.2);
    content:attr(data-placeholder)
}
.editeur .editable {
    padding: 5px;
    padding-left: 3%;
    padding-right: 3%;
    outline: none;
    margin-bottom: 10px;
}
.editeur .editable:focus {
    border: 1px solid #babfc6;
    border-radius: 2px;
}
.editeur:empty::before {
    color: #707d7e;
    font-size: 20px;
    content: "Ajouter un élément à l'aide de la barre d'outil";
}
.editeur div.toolbar {
    margin: 0;
    width: 46px;
    float: right;
    text-align: right;
    position: relative;
    right: 3px;
    font-size: 14px;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
.editeur div.toolbar i {
    cursor: pointer;
}
.editeur p.editable {
    font-size: 17px;
}
.editable .editable.has-toolbar {
    padding-top: 19px;
    padding-bottom: 10px;
}
blockquote {
    padding-right: 0;
}
blockquote .source {
    font-size: 15px;
    font-style: italic;
}
.image-placeholder {
    background-color: #b3c5c6;
    text-align: center;
    font-size: 50px;
}
/* ---------------------------------------------------------------------------------------------------------------------
                LIST
--------------------------------------------------------------------------------------------------------------------- */
.list-item {
    text-align: center;
}
.list-item > li {
    background-color: #36a4be;
    border: 2px solid #36a4be;
    border-radius: 4px;
    transition: .3s ease all;
    margin-bottom: 5px;
}
.list-item > li:hover {
    background-color: #3295ae;
    border: 2px solid #3290a9;
}
.list-item > li.outline {
    background-color: transparent;
}
.list-item > li.outline:hover {
    background-color: rgba(36, 105, 165, 1);
}
.list-item >li:hover > a, .list-item >li:hover > a:hover {
    text-decoration: none;
}
.list-item > li > a {
    display: block;
    padding-top: 10px;
    min-height: 100px;
    min-width: 180px;
    max-width: 100%;
    color: white;
}
.list-item > li.outline > a {
    color: #2469a5;
}
.list-item > li.outline:hover > a {
    color: white;
}
.list-item > li > a {
    line-height: 20px;
}
.list-item > li > a > i.fa.fa-lg {
    font-size: 300%;
    margin-bottom: 10px;
}

.list-item.list-livre > li > a {
    display: inline-block;
    position: relative;
    padding-top: 15px;
    min-height: 200px;
    width: 180px;
    max-width: 100%;
}
.list-livre > li > a > * {
    position: absolute;
}
.list-livre > li > a > div.titre {
    top: 30px;
    width: 180px;
    max-width: 100%;
}
.list-livre > li > a > div.titre > p {
    text-align: center;
    font-size: 20px;
}
.list-livre > li > a > div.infos {
    bottom: 5px;
    width: 180px;
    max-width: 100%;
}
.list-livre > li > a > div.infos > p {
    text-align: center;
    margin-bottom: 0;
}
.list-livre > li > a > span.infos {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
}
.list-item.list-critique > li > a {
    display: inline-block;
    position: relative;
    padding-top: 15px;
    min-height: 200px;
    width: 200px;
    max-width: 100%;
}
.list-critique > li > a > * {
    position: absolute;
}
.list-critique > li > a > div.head {
    top: 20px;
    width: 200px;
    max-width: 100%;
}
.list-critique > li > a > div.head > p {
    text-align: center;
    font-size: 15px;
}
.list-critique > li > a > div.head > p.titre {
    text-align: center;
    font-size: 20px;
}
.list-critique > li > a > div.infos {
    bottom: 5px;
    width: 200px;
    max-width: 100%;
}
.list-critique > li > a > div.infos > p {
    text-align: center;
    margin-bottom: 0;
    font-size: 15px;
}
.list-critique > li > a > span.infos {
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
}
/* ---------------------------------------------------------------------------------------------------------------------
                CRITIQUE ROW
--------------------------------------------------------------------------------------------------------------------- */
.critique-titre {
    line-height: 27px;
    margin-bottom: 2px;
}
.critique-livre {
    margin-top: 2px;
}
/* ---------------------------------------------------------------------------------------------------------------------
                CRITIQUE ROW
--------------------------------------------------------------------------------------------------------------------- */
div.critiques-container {
    margin-top: 20px;
    padding: 15px;
}
div.critiques-container > .critique {
    transition: ease all .3s;
}
div.critiques-container > .critique:hover {
    background-color: #f8f8f8;
}
div.critique {
    padding-top: 10px;
}
div.critique h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
div.critique h4.text-right {
    text-align: right;
}
div.critique h4 a {
    color: inherit;
}
div.critique hr {
    margin-top: 25px;
    margin-bottom: 15px;
}
h3 > a.btn.btn-xs {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: 5px;
}
/* ---------------------------------------------------------------------------------------------------------------------
                COMMENTAIRES
--------------------------------------------------------------------------------------------------------------------- */
div.commentaires-container {
    padding: 15px;
}
div.commentaire {
    position: relative;
    min-height: 110px;
    background-color: #f2f7f8;
    margin-bottom: 10px;
    border-radius: 5px;
}
div.commentaire:target {
    border: 2px solid coral;
}
div.commentaire > div.head {
    padding: 5px;
    padding-top: 10px;
    width: 130px;
    height: 100%;
    background-color: #e5eaeb;
    position: absolute;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
div.commentaire > div.head > img {
    background-color: #f2f8f9;
}
div.commentaire > div.head > p.utilisateur-fullname {
    margin-top: 5px;
    font-size: 13px;
}
div.commentaire > div.body {
    position: relative;
    margin-left: 130px;
}
div.commentaire > div.body > div.date {
    padding: 3px;
    padding-left: 10px;
    border-top-right-radius: 5px;
    background-color: #ebf0f1;
    color: #4c4f4f;
}
div.commentaire > div.body > div.contenu {
    padding: 10px;
}